<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/navbar.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="nav">
          <li>
            <a href="list">see list</a>
          </li>
          <li>
            <a href="/addproduct">add product</a>
          </li>
          <li>
            <a href="/contact">contact us</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/product" method="POST">
        name <input type="text" name="title" />
        <br />
        price: <input type="number" name="price" />
        <button type="submit">submit</button>
      </form>
    </main>
  </body>
</html>
